.. include:: Documents/Hardware/ICs/labels.fragment.rst

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Briefcase_MES6800.Briefcase_MES6800.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Components_attached_to_the_M68MM04A_Micromodule.Components_attached_to_the_M68MM04A_Micromodule.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Components_attached_to_the_M68MM12_Micromodule.Components_attached_to_the_M68MM12_Micromodule.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Components_attached_to_the_M68MM16_Micromodule.Components_attached_to_the_M68MM16_Micromodule.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Components_attached_to_the_MEK6800D2_board.Components_attached_to_the_MEK6800D2_board.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Educator_II_Microcomputer_Kit.Educator_II_Microcomputer_Kit.snippet

.. rubric:: Storage Box 1

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_1.Drawer_1.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_1.Drawer_2.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_1.Drawer_3.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_1.Drawer_4.snippet

.. rubric:: Storage Box 2

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_2.Drawer_0.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_2.Drawer_1.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_2.Drawer_2.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_2.Drawer_3.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_2.Drawer_4.snippet

.. rubric:: Storage Box 3

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_3.Drawer_1.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_3.Drawer_2.snippet

.. include:: Documents/Hardware/ICs/snippets/tables.fragment.Storage_Box_3.Drawer_4.snippet

