

.. _Components_attached_to_the_M68MM04A_Micromodule_Components_attached_to_the_M68MM04A_Micromodule:

.. rubric:: Components attached to the M68MM04A Micromodule

.. csv-table::
   :header-rows: 0
   :widths: 50,50

   |iMC6880AP|, :ref:`MC6880AP MC6880AP Quad Three-State Bus Transceiver <MC6880AP>`


