# Configuration file for the Sphinx documentation builder.
#
# For the full list of built-in configuration values, see the documentation:
# https://www.sphinx-doc.org/en/master/usage/configuration.html

# -- Project information -----------------------------------------------------
# https://www.sphinx-doc.org/en/master/usage/configuration.html#project-information



project = 'Motorola MC6800 Family Product Catalogue'
copyright = '2024-2026, Andrew Shapton'
author = 'Andrew Shapton'
release = '0.3'

# -- General configuration ---------------------------------------------------
# https://www.sphinx-doc.org/en/master/usage/configuration.html#general-configuration

extensions = [
        'sphinx.ext.autosectionlabel',
        'sphinx_collapse',
        'sphinx_design',
        'linuxdoc.rstFlatTable',
        'sphinx.ext.extlinks',
        'sphinxcontrib.jquery',
        'sphinx_datatables',
]
#        

autosectionlabel_prefix_document = True
templates_path = ['_templates']
exclude_patterns = []
root_prefix = '/Users/andrew/MyProjects/Motorola-6800/MC6800Catalogue'
source_suffix = ['.rst']

datatables_options = {
    "pageLength": -1,
    "language": {"lengthLabels": {"-1": "Show all"},"search": "Search (on this page): "},
    "lengthMenu": [10, 25, 50, 100, 200, -1],
}



# ExtLinks configuration:
extlinks = {'extlink-bitsavers': ('https://bitsavers.org/bits/Motorola/Exorcisor/%s',
                      'extlink-bitsavers %s')}

# -- Options for HTML output -------------------------------------------------
# https://www.sphinx-doc.org/en/master/usage/configuration.html#options-for-html-output

html_theme = 'alabaster'

html_static_path = ['_static']

html_css_files = [
    'css/custom.css',
    'https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round',
    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
]