#label-week {
    margin-left: 20;
}
#week {
    width: 12;
    margin-left: 20;
}
#label-year {
    margin-left: 20;
}
#year {
    width: 12;
    margin-left: 20;
}
#button-calculate {
    margin-left: 20;
}
#button-calculate-done {
    margin-left: 20;
}