.. _Components_attached_to_the_M68MM12_Micromodule_Components_attached_to_the_M68MM12_Micromodule:


.. rubric:: Components attached to the M68MM12 Micromodule

.. csv-table::
   :header-rows: 0
   :widths: 50,50

   |iMC6887P|, :ref:`MC6887P Hex Three-State Buffer/Inverter<MC6887P>`
   |iMCM68A10P|, :ref:`MCM68A10P 128 x 8-Bit Static Random Access Memory (MCM6810)<MCM68A10P>`
