

.. _Educator_II_Microcomputer_Kit_Educator_II_Microcomputer_Kit:

.. rubric:: Educator II Microcomputer Kit

.. csv-table::
   :header-rows: 0
   :widths: 50,50

   |iHEPC4811P|, :ref:`HEPC4811P HEPC4811P 128 x 8-bit RAM <HEPC4811P>`
   |iHEPC4821L|, :ref:`HEPC4821L HEPC4821L HEP version of MC6820 <HEPC4821L>`


