

.. _Components_attached_to_the_M68MM16_Micromodule_Components_attached_to_the_M68MM16_Micromodule:

.. rubric:: Components attached to the M68MM16 Micromodule

.. csv-table::
   :header-rows: 0
   :widths: 50,50

   |iMC68B21P|, :ref:`MC68B21P MC68B21P Peripheral Interface Adapter (PIA) <MC68B21P>`


