

.. _Storage_Box_2_Drawer_2:

.. rubric:: Drawer 2

.. csv-table::
   :header-rows: 0
   :widths: 33, 34, 33

   "|iMC68B02P| :ref:`MC68B02P <MC68B02P>`","",""
   "|iMC6802P| :ref:`MC6802P <MC6802P>`","",""

