

.. _Components_attached_to_the_MEK6800D2_board_Components_attached_to_the_MEK6800D2_board:

.. rubric:: Components attached to the MEK6800D2 board

.. csv-table::
   :header-rows: 0
   :widths: 50,50

   |iMC6850P|, :ref:`MC6850P MC6850P Asynchronous Communications Interface Adapter <MC6850P>`
   |iSC44204P|, :ref:`SC44204P SC44204P Microprocessor Unit <SC44204P>`
   |iMCM6830AP-2|, :ref:`MCM6830AP-2 1024 x 8-bit ROM containing JBUG <MCM6830AP-2>`


