

.. _Briefcase_MES6800_Briefcase_MES6800:

.. rubric:: Briefcase MES6800

.. csv-table::
   :header-rows: 0
   :widths: 50,50

   |iMCM6810L|, :ref:`MCM6810L 128 x 8-bit RAM <MCM6810L>`
   |iXC6820|, :ref:`XC6820 Peripheral Interface Adapter <XC6820>`
   |iMC6800L|, :ref:`MC6800L Microprocessor Unit <MC6800L>`
   |iMCM6830L7|, :ref:`MCM6830L7 1024 x 8-bit ROM containing MIKBUG/MINIBUG <MCM6830L7>`


>`
