

.. _Storage_Box_2_Drawer_4:

.. rubric:: Drawer 4

.. csv-table::
   :header-rows: 0
   :widths: 16, 16, 16, 16, 16, 16

   "|iMC6859L| :ref:`MC6859L <MC6859L>`","|iMC6828P| :ref:`MC6828P <MC6828P>`","","","",""

