

.. _Storage_Box_1_Drawer_2:

.. rubric:: Drawer 2

.. csv-table::
   :header-rows: 0
   :widths: 33, 34, 33

   "|iMC6847P| :ref:`MC6847P <MC6847P>`","|iMC68488CP| :ref:`MC68488CP <MC68488CP>`",""
   "|iMC68B54P| :ref:`MC68B54P <MC68B54P>`","|iMC6844L| :ref:`MC6844L <MC6844L>`","|iMC6844P| :ref:`MC6844P <MC6844P>`"
   "|iMC68701U4S1| :ref:`MC68701U4S1 <MC68701U4S1>`","",""

