.. include:: labels.fragment.rst

.. rubric:: Briefcase MES6800

.. include:: ./snippets/tables.fragment.Briefcase_MES6800.Briefcase_MES6800.snippet

.. rubric:: Storage Box 1

.. include:: ./snippets/tables.fragment.Storage_Box_1.Drawer_1.snippet

.. include:: ./snippets/tables.fragment.Storage_Box_1.Drawer_2.snippet

.. include:: ./snippets/tables.fragment.Storage_Box_1.Drawer_3.snippet

.. include:: ./snippets/tables.fragment.Storage_Box_1.Drawer_4.snippet

